<script>
window.onload = function() {
    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };


    {% for hashtag in hashtags %}
        {% if hashtag['last_id'] is not empty %}
                t.widgets.createTweet(
                    "{{ hashtag['last_id'] }}",
                    document.getElementById("tweet{{ hashtag['hashtag'] }}"),
                );
        {% endif %}
    {% endfor %}

    return t;
    }(document, "script", "twitter-wjs"));
};
</script>

<h1>Has Renfe Madrid failed again?</h1>
{% for hashtag in hashtags %}
    <p>{{ hashtag['hashtag'] }} - Last Updated: {{ hashtag['update_date'] }}</p>
    {% if hashtag['last_id'] is not empty %}
        <span id="tweet{{ hashtag['hashtag'] }}"></span>
    {% else %}
        <p>No data for this hashtag</p>
    {% endif %}
{% endfor %}