{% extends "base.html.twig" %}

{% block title %}Has Renfe Madrid failed again?{% endblock %}

{% block body %}
<div id="alert"><div class="alert"></div></div>
<div class="content pure-g">
    <div class="header pure-u-1">
        <h1>Has Renfe Madrid failed again?</h1>
        <button class="pure-button pure-button-primary" id="updateButton"><i id="updateIcon" class="fa fa-refresh"></i> Update</button>
        <button class="pure-button" id="installButton"><i id="installIcon" class="fa fa-arrow-circle-down"></i> Install</button>
        <button class="pure-button" id="updateAppButton"><i id="updateAppIcon" class="fa fa-arrow-circle-down"></i> Update</button>
    </div>
    <div class="hashtags">
        {% for hashtag in hashtags %}
            <div class="hashtag pure-u-1 pure-u-lg-1-2">
                <div class="card">
                    <div class="cardHeader cardHeader{{ hashtag['hashtag'] }}">
                        <p>{{ hashtag['name'] }}</p>
                        <p>{{ hashtag['details'] }}</p>
                    </div>
                    {% if hashtag['lastId'] is not empty and hashtag['dateTweet'] | date('U') > '-1 day' | date('U') %}
                        {% if hashtag['status'] == 0 %}
                            <p id="tweetStatus{{ hashtag['hashtag'] }}"><i class="fa fa-ban"></i> Uh-oh! Bad timing to take this line</p>
                        {% elseif hashtag['status'] == 1 %}
                            <p id="tweetStatus{{ hashtag['hashtag'] }}"><i class="fa fa-check-circle"></i> All seems fine!</p>
                        {% else %}
                            <p id="tweetStatus{{ hashtag['hashtag'] }}"><i class="fa fa-question-circle"></i> I can't see if the line is right or wrong...</p>
                        {% endif %}
                        <div id="tweet{{ hashtag['hashtag'] }}"></div>
                    {% else %}
                        <p id="tweetStatus{{ hashtag['hashtag'] }}"></p>
                        <div id="tweet{{ hashtag['hashtag'] }}"><p>No data for this hashtag</p></div>
                    {% endif %}
                    <div class="lastUpdate">Last Updated: <span id="updateTime{{ hashtag['hashtag'] }}">{{ hashtag['updateTime'] | date('Y-m-d H:i:s') }}</span></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  window.styles = document.querySelectorAll('link[rel="stylesheet"]');
  document.init = function() {
    {% for hashtag in hashtags %}
        {% if hashtag['lastId'] is not empty and hashtag['dateTweet'] | date('U') > '-1 day' | date('U') %}
              window.twttr.widgets.createTweet(
                "{{ hashtag['lastId'] }}",
                document.getElementById("tweet{{ hashtag['hashtag'] }}"),
                {
                  align: 'center'
                }
              ).then((tweet) => {
                 let sR = tweet.shadowRoot;
                 window.styles.forEach((style) => {
                   console.log('adding style');
                   let node = document.createElement('style');
                   node.type = 'text/css';
                   node.appendChild(document.createTextNode("@import url(\""+style.href+"\");"));
                   sR.appendChild(node);
                 });
              });
        {% endif %}
    {% endfor %}

    document.getElementById('alert').onclick = function() {
      document.getElementById('alert').style.display = 'none';
    };
  };

  var showErrorFunction = function() {
    document.getElementById('updateIcon').classList.remove('fa-spin');
    document.getElementById('alert').querySelector('.alert').innerHTML = 'There was an error updating the tweets';
    document.getElementById('alert').style.display = 'block';
  };

  var updateButtonFunction = function() {
    document.getElementById('updateIcon').classList.add('fa-spin');
    document.getElementById('updateButton').classList.add('pure-button-disabled');
    setTimeout(function() {
      document.getElementById('updateButton').classList.remove('pure-button-disabled');
    }, 30000);
  };

  document.getElementById('updateButton').onclick = function() {
    updateButtonFunction();
    axios.get('/update')
      .then(function(res) {
        var updateRes = res.data;
        if (updateRes.result) {
          console.log('updated, getting new tweets');
          axios.get('/', {
            'headers': {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          })
            .then(function(res){
              var getRes = res.data;
              var yesterday = new Date(new Date().setDate(new Date().getDate()-1));
              getRes.hashtags.forEach(function(hashtag) {
                var date = new Date(hashtag.updateTime.date);
                document.getElementById('updateTime'+hashtag.hashtag).innerHTML = date.getFullYear() + '-'
                  + (date.getMonth() + 1).toString().padStart(2, "0") + '-' + date.getDate().toString().padStart(2, "0")
                  + ' ' + date.getHours().toString().padStart(2, "0") + ':'
                  + date.getMinutes().toString().padStart(2, "0") + ':' + date.getSeconds().toString().padStart(2, "0");
                document.getElementById("tweet"+hashtag.hashtag).innerHTML = '';

                if (hashtag.lastId && (new Date(hashtag.dateTweet)).getTime() > yesterday.getTime()) {
                  if (hashtag.status === 0) {
                    document.getElementById("tweetStatus"+hashtag.hashtag).innerHTML = '<i class="fa fa-ban"></i> Uh-oh! Bad timing to take this line';
                  } else if (hashtag.status === 1) {
                    document.getElementById("tweetStatus"+hashtag.hashtag).innerHTML = '<i class="fa fa-check-circle"></i> All seems fine!';
                  } else {
                    document.getElementById("tweetStatus"+hashtag.hashtag).innerHTML = '<i class="fa fa-question-circle"></i> I can\'t see if the line is right or wrong...</p>';
                  }

                  window['tweet'+hashtag.hashtag] = window.twttr.widgets.createTweet(
                    hashtag.lastId,
                    document.getElementById("tweet"+hashtag.hashtag),
                    {
                      align: 'center'
                    }
                  ).then((tweet) => {
                    let sR = tweet.shadowRoot;
                    window.styles.forEach((style) => {
                      console.log('adding style');
                      let node = document.createElement('style');
                      node.type = 'text/css';
                      node.appendChild(document.createTextNode("@import url(\""+style.href+"\");"));
                      sR.appendChild(node);
                    });
                  });
                } else {
                  document.getElementById("tweet"+hashtag.hashtag).innerHTML = '<p>No data for this hashtag</p>';
                }
              });
              document.getElementById('updateIcon').classList.remove('fa-spin');
            })
            .catch(function() {
              showErrorFunction();
            });
        } else {
          showErrorFunction();
        }
      })
      .catch(function() {
        showErrorFunction();
      });
  }
</script>
{% endblock %}