{% extends "base.html.twig" %}

{% block title %}Has Renfe Madrid failed again?{% endblock %}

{% block body %}
<div id="alert">
    <a class="alert" href="#alert"></a>
</div>
<div class="content pure-g">
    <div class="header pure-u-1">
        <h1>Has Renfe Madrid failed again?</h1>
        <button class="pure-button pure-button-primary" id="update"><i id="updateIcon" class="fa fa-refresh"></i> Update</button>
    </div>
    <div class="pure-u-1">
        {% for hashtag in hashtags %}
            <div class="hashtag pure-u-1-2 pure-u-md-1">
                <p>{{ hashtag['name'] }} - Last Updated: <span id="updateTime{{ hashtag['hashtag'] }}">{{ hashtag['updateTime'] | date('Y-m-d H:i:s') }}</span></p>
                {% if hashtag['lastId'] is not empty %}
                    <span id="tweet{{ hashtag['hashtag'] }}"></span>
                {% else %}
                    <span id="tweet{{ hashtag['hashtag'] }}"><p>No data for this hashtag</p></span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  document.init = function() {
    {% for hashtag in hashtags %}
        {% if hashtag['lastId'] is not empty %}
              window.twttr.widgets.createTweet(
                "{{ hashtag['lastId'] }}",
                document.getElementById("tweet{{ hashtag['hashtag'] }}")
              );
        {% endif %}
    {% endfor %}
  };

  var showErrorFunction = function() {
    document.getElementById('updateIcon').classList.remove('fa-spin');
    document.getElementById('alert').querySelector('.alert').innerHTML = 'There was an error updating the tweets';
    document.getElementById('alert').style.display = 'block';
  };

  var updateButtonFunction = function() {
    document.getElementById('update').classList.add('pure-button-disabled');
    setTimeout(function() {
      document.getElementById('update').classList.remove('pure-button-disabled');
    }, 30000);
  };

  document.getElementById('update').onclick = function() {
    document.getElementById('updateIcon').classList.add('fa-spin');
    axios.get('/update')
      .then(function(res) {
        var updateRes = res.data;
        if (updateRes.result) {
          console.log('updated, getting new tweets');
          axios.get('/', {
            'headers': {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          })
            .then(function(res){
              var getRes = res.data;
              getRes.hashtags.forEach(function(hashtag) {
                var date = new Date(hashtag.updateTime.date);
                document.getElementById('updateTime'+hashtag.hashtag).innerHTML = date.getFullYear() + '-'
                  + (date.getMonth() + 1).toString().padStart(2, "0") + '-' + date.getDate().toString().padStart(2, "0")
                  + ' ' + date.getHours().toString().padStart(2, "0") + ':'
                  + date.getMinutes().toString().padStart(2, "0") + ':' + date.getSeconds().toString().padStart(2, "0");
                document.getElementById("tweet"+hashtag.hashtag).innerHTML = '';
                if (hashtag.lastId) {
                  window.twttr.widgets.createTweet(
                    hashtag.lastId,
                    document.getElementById("tweet"+hashtag.hashtag)
                  );
                } else {
                  document.getElementById("tweet"+hashtag.hashtag).innerHTML = '<p>No data for this hashtag</p>';
                }
              });
              document.getElementById('updateIcon').classList.remove('fa-spin');
            })
            .catch(function(e) {
              showErrorFunction();
            });
        } else {
          showErrorFunction();
        }
      })
      .catch(function(e) {
        showErrorFunction();
      });
  }
</script>
{% endblock %}